[Desktop Entry]
Exec=amarokwelcome
Icon=amarokwelcome
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Name[af]=Welkom Skerm
Name[am]=እንኳን ደህና መጡ
Name[ar]=شاشة الترحيب
Name[ast]=Pantalla de bienvenida
Name[az]=Salamlama ekranı
Name[be]=Экран вітання
Name[bg]=Приветстващ Екран
Name[bn]=ওয়েলকাম স্ক্রিন
Name[bs]=Ekran dobrodošlice
Name[ca]=Pantalla de benvinguda
Name[ca@valencia]=Pantalla de benvinguda
Name[cs]=Uvítací obrazovka
Name[csb]=Ekran przëwitaniô
Name[cy]=Sgrin Croeso
Name[da]=Velkomstskærm
Name[de]=Willkommensbildschirm
Name[el]=Οθόνη Καλωσορίσματος
Name[eo]=Bonvena ekrano
Name[es]=Pantalla de bienvenida
Name[et]=Tere tulemast
Name[eu]=Ongi etorri pantaila
Name[fa]=صفحه خوش‌آمدگویی
Name[fi]=Aloitusnäkymä
Name[fil]=Screen ng Pagbati
Name[fo]=Vælkomstskíggi
Name[fr]=Écran d'accueil
Name[fr_CA]=Écran d'accueil
Name[frp]=Ècran de benvenyua
Name[fy]=Wolkomstskerm
Name[ga]=An Scaoileán Fáilte
Name[gd]=An sgrìn fàilteachaidh
Name[gl]=Pantalla de benvida
Name[he]=מסך קבלת הפנים
Name[hi]=स्वागत स्क्रीन
Name[hr]=Zaslon dobrodošlice
Name[hu]=Üdvözlőképernyő
Name[ia]=Pagina de benvenite
Name[id]=Layar Selamat Datang
Name[is]=Upphafsskjár
Name[it]=Schermata di benvenuto
Name[ja]=ようこそ画面
Name[jv]=Tirai layar sugeng rawuh
Name[ka]=მისალმების ეკრანი
Name[kab]=Agdil Agejdan
Name[kk]=Сәлемдесу экраны
Name[ko]=환영합니다
Name[ku]=Bixêrhatî dîmenderê
Name[ky]=Учурашуу экраны
Name[la]=Salve
Name[lb]=Wëllkom Bildschirm
Name[lt]=Pasisveikinimo langas
Name[lv]=Sveiciena ekrāns
Name[mg]=Tongasoa
Name[ml]=സ്വാഗതം
Name[mr]=स्वागत
Name[ms]=Skrin Aluan
Name[mus]=Οθόνη υποδοχής
Name[my]=ကြိုဆိုသည့်မျက်နှာပြင်
Name[nap]=Schermata 'e benvenuto
Name[nb]=Velkomstskjerm
Name[nds]=Willkommensbildschirm
Name[ne]=स्वागत स्क्रीन
Name[nl]=Welkomstscherm
Name[nn]=Velkomstskjerm
Name[oc]=Ecran d'acuèlh
Name[om]=Agarsiiftuu anaadhufuu
Name[pa]=ਜੀ ਆਇਆਂ ਨੂੰ ਸਕਰੀਨ
Name[pap]=Bon bini
Name[pl]=Ekran powitalny
Name[pt]=Ecrã de boas vindas
Name[pt_BR]=Tela de Boas-Vindas
Name[ro]=Ecran de Bun venit
Name[ru]=Экран приветствия
Name[sc]=Bentana de Bene Bènnidu
Name[shn]=ၽိဝ်ၼႃႈ ႁူမ်ၸုမ်းႁပ့်တွၼ်ႈ
Name[si]=පිළිගැනීමේ තිරය
Name[sk]=Uvítacia obrazovka
Name[sl]=Pozdravni zaslon
Name[so]=Shaashadda Soodhaweynta
Name[sq]=Ekrani i Mirëseardhjes
Name[sr]=Екран добродошлице
Name[sr@latin]=Ekran dobrodošlice
Name[su]=Layar Wilujeng Sumping
Name[sv]=Välkomstskärm
Name[ta]=வரவேற்பு திரை
Name[te]=స్వాగతపు తెర
Name[tg]=Экрани табрик
Name[th]=หน้าจอต้อนรับ
Name[tr]=Karşılama Ekranı
Name[uk]=Екран привітання
Name[ur]=خوش آمدید سکرین
Name[uz]=Кириш пайтидаги экран
Name[vi]=Màn hình Chào mừng
Name[zh_CN]=欢迎画面
Name[zh_HK]=歡迎畫面
Name[zh_TW]=歡迎畫面
Name[zu]=Isikrini Siyakwamukela
Comment=Introduction to Amarok Linux
Comment[af]=Voorstelling tot Amarok Linux
Comment[am]=ሊነክስ ሚንትን ይተዋወቁ
Comment[ar]=مقدمة إلى Amarok Linux
Comment[ast]=Introducción a Amarok Linux
Comment[az]=Amarok Linux`lə tanışlıq
Comment[be]=Уводзіны ў Amarok Linux
Comment[bg]=Въведение в Amarok Linux
Comment[bn]=লিনাক্স মিন্ট পরিচিতি
Comment[bs]=Uvod u Amarok Linux
Comment[ca]=Introducció a Amarok Linux
Comment[ca@valencia]=Introducció a Amarok Linux
Comment[cs]=Úvod do Amarok Linux
Comment[csb]=Wprowadzenié do Amarok Linux
Comment[cy]=Cyflwyniad i Amarok Linux
Comment[da]=Introduktion til Amarok Linux
Comment[de]=Einführung in Amarok Linux
Comment[el]=Εισαγωγή στο Amarok Linux
Comment[eo]=Enkonduko al Amarok Linukso
Comment[es]=Introducción a Amarok Linux
Comment[et]=Sissejuhatus Amarok Linux
Comment[eu]=Amarok Linux-era sarrera
Comment[fa]=آشنایی با لینوکس آماروک
Comment[fi]=Amarok Linux -esittely
Comment[fil]=Panimula sa Amarok Linux
Comment[fo]=Innleiðsla í Amarok Linux
Comment[fr]=Introduction à Amarok Linux
Comment[fr_CA]=Présentation de Amarok Linux
Comment[fy]=Yntroduksje ta Amarok Linux
Comment[ga]=Réamheolas faoi Amarok Linux
Comment[gd]=A' cur aithne air Amarok Linux
Comment[gl]=Introdución a Amarok Linux
Comment[he]=מבוא לאמרוק לינוקס
Comment[hi]=अमरोक लिनक्स का परिचय
Comment[hr]=Uvod u Amarok Linux
Comment[hu]=A Amarok Linux bemutatása
Comment[ia]=Introduction a Amarok Linux
Comment[id]=Pengenalan kepada Amarok Linux
Comment[is]=Kynning á Amarok Linux
Comment[it]=Introduzione a Amarok Linux
Comment[ja]=アマロックLinuxの概要
Comment[jv]=Pengenalan ing Amarok Linux
Comment[ka]=ಅಮರೋಕ್ ಲಿನಕ್ಸ್ ಪರಿಚಯ
Comment[kab]=Tazwart ɣer Amarok Linux
Comment[kk]=Amarok Linux кіріспесі
Comment[ko]=아마로크 리눅스 소개
Comment[ky]=Amarok Linux'ке киришүү
Comment[lb]=Afeierung zu Amarok Linux
Comment[lt]=Įvadas į Amarok Linux
Comment[lv]=Iepazīšanās ar Amarok Linux
Comment[mg]=Fanehoana an'i Amarok Linux
Comment[ml]=അമരോക്ക് ലിനക്സിലേക്കുള്ള ആമുഖം
Comment[mr]=अमरोक लिनक्सची ओळख
Comment[ms]=Pengenalan ke Amarok Linux
Comment[my]=အမာရွတ် လင်းနွတ်စ်ကို မိတ်ဆက်ပေးခြင်း
Comment[nap]=Introduzione a Amarok Linux
Comment[nb]=Introduksjon til Amarok Linux
Comment[nds]=Einführung in Amarok Linux
Comment[ne]=अमरोक लिनक्स का परिचय
Comment[nl]=Introductie tot Amarok Linux
Comment[nn]=Introduksjon til Amarok Linux
Comment[oc]=Introduccion a Amarok Linux
Comment[om]=Seensa Amarok Linux
Comment[pa]=ਅਮਰੋਕ ਲਿਨਕਸ ਨਾਲ ਜਾਣ-ਪਛਾਣ
Comment[pap]=Introdukshon na Amarok Linux
Comment[pl]=Wprowadzenie do Amarok Linux
Comment[pt]=Introdução ao Amarok Linux
Comment[pt_BR]=Introdução ao Amarok Linux
Comment[ro]=Introducere în Amarok Linux
Comment[ru]=Введение в Amarok Linux
Comment[sc]=Introduida a Amarok Linux
Comment[si]=අමරොක් ලිනක්ස් හැඳින්වීම
Comment[sk]=Úvod do Amarok Linux
Comment[sl]=Uvod v Amarok Linux
Comment[so]=Horudhaca Amarok Linux
Comment[sq]=Hyrje në Amarok Linux
Comment[sr]=Увод у Амарок Линуx
Comment[sr@latin]=Uvod u Amarok Linux
Comment[su]=Wawanohan reujeung Amarok Linux
Comment[sv]=Introduktion till Amarok Linux
Comment[ta]=அமரோக் லினக்ஸ் அறிமுகம்
Comment[te]=అమరోక్ లినక్స్ పరిచయం
Comment[tg]=Шиносоӣ бо Amarok Linux
Comment[th]=ความรู้เบื้องต้นเกี่ยวกับ Amarok Linux
Comment[tl]=Pambungad sa Amarok Linux
Comment[tr]=Amarok Linux'e Giriş
Comment[uk]=Знайомство з Amarok Linux
Comment[ur]=امروک لینکس کا تعارف
Comment[uz]=Amarok Linux га кириш
Comment[vi]=Giới thiệu Amarok Linux
Comment[zh_CN]=Amarok Linux 介绍
Comment[zh_HK]=Amarok Linux 簡介
Comment[zh_TW]=Amarok Linux 導覽
Comment[zu]=Isingeniso kwi-Amarok Linux
